.message {
  border: 1px solid rgba(140, 86, 200, 0.59);
  background: linear-gradient(135deg, rgba(60,60,71,0.4778018767705382) 0%, rgba(40,32,82,0.5004647662889519) 100%);
  backdrop-filter: blur(2px);
  border-radius: 24px;
}