@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.starbg {
  background-image: url('./assets/stars-bg.webp');
  background-repeat: repeat;
  background-position: 50%;
  background-size: 1090px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 7;
  pointer-events: none;
  opacity: 0.9;

  animation: fadeIn 1.5s ease, scrollBg 70s linear infinite;
}

@keyframes scrollBg {
  from {
    background-position-y: 0%;
  } to {
    background-position-y: 100%;
  }
}